<header>
  <nav class="navbar navbar-expand-lg navbar-light sticky-top" style="background-color: #e3f2fd;">
    <div class="container">
      <button mat-button (click)="sidenav.toggle()">&#9776;</button>
      <a class="navbar-brand" href="#">Frontseat</a>
      <button
        class="navbar-toggler"
        type="button"
        (click)="centered.toggle()"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <i class="fas fa-bars"></i>
      </button>
      <div
        class="collapse navbar-collapse justify-content-center"
        id="navbarCenteredExample"
        mdbCollapse
        #centered="mdbCollapse"
      >
        <!-- Left links -->
        <ul class="navbar-nav mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="#">Production</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" routerLink="/edit">Edit</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" routerLink="/script">Script</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" routerLink="/rehearse">Rehearse</a>
          </li>
        </ul>
        <!-- Left links -->
      </div>
      <ul class="navbar-nav d-flex flex-row">
        <!-- Icons -->
        <li class="nav-item me-3 me-lg-0">
          <a class="nav-link" href="#">
            <i class="fas fa-user-circle"></i>
          </a>
        </li>
      </ul>
    </div>
  </nav>
</header>

<mat-sidenav-container>
    <mat-sidenav #sidenav mode="side" [(opened)] = "opened">Structure
        <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
            <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle matTreeNodePadding matTreeNodePaddingIndent="10">
              <button mat-icon-button disabled></button>
              {{node.name}}
            </mat-tree-node>
          
            <mat-tree-node *matTreeNodeDef="let node; when: hasChild" matTreeNodePadding matTreeNodePaddingIndent="10">
              <button mat-icon-button matTreeNodeToggle
                      [attr.aria-label]="'Toggle ' + node.name">
                <mat-icon class="mat-icon-rtl-mirror">
                  {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                </mat-icon>
              </button>
              {{node.name}}
            </mat-tree-node>
        </mat-tree>
    </mat-sidenav>
    <mat-sidenav-content>
        
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>