.example-spacer {
    flex: 1 1 auto;
}

mat-toolbar {
    background-color: #bcd4e6;
}

button {
    margin: 2px;
}

canvas { 
    border: 2px solid #000; 
    width: 100%;
}

input {
    width: 50;
}