<button mat-button routerLink="/split">Split</button>
<mat-toolbar>
    <button mat-icon-button class="fa fa-mouse-pointer fa-lg"></button>
    <button mat-icon-button class="fa fa-arrows-alt fa-lg"></button>
    <button mat-icon-button class="fas fa-redo fa-lg"></button>
    <button mat-icon-button class="fas fa-expand-alt fa-lg"></button>
    <button mat-icon-button class="fas fa-object-group fa-lg"></button>
    <span class="example-spacer"></span>
    
    <button mat-icon-button class="fas fa-chevron-left fa-lg"></button>
    <button mat-icon-button class="fa fa-plus fa-lg"></button>
    <button mat-icon-button class="fas fa-chevron-right fa-lg"></button>
    <span class="example-spacer"></span>

    <button mat-icon-button class="fa fa-circle fa-lg" (click)="drawCircle()"></button>
    <button mat-icon-button class="fa fa-square fa-lg" (click)="drawRect()"></button>
    <button mat-icon-button class="fas fa-user-plus fa-lg" [matMenuTriggerFor]="charMenu"></button>
    <mat-menu #charMenu="matMenu">
        <mat-radio-group [(ngModel)]="character">
            <mat-radio-button class="mat-menu-item" *ngFor="let char of characters" [value]="char">
            {{char}}
            </mat-radio-button>
        </mat-radio-group>
    </mat-menu>
    <button mat-icon-button class="fas fa-eraser fa-lg" (click)="eraseAll()"></button>
    <input [(colorPicker)]="color" [style.background]="color" [cpWidth]="'200px'" [style.width]=50/>
</mat-toolbar>

<canvas #canvas></canvas>

<p> {{ character }} </p>